:root {
  --color-primario: #d8c99b;
  --color-secundario: #a4243b;
  --color-terciario: #517664;
  --color-negro: #1b1818;
}
* {
  padding: 0;
  margin: 0;
}
body {
  max-width: 80%;
  margin: 5% auto;
  background-color: var(--color-negro);
}
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
#title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: var(--color-primario);
  font-weight: 700;
  font-size: 4em;
}
#author {
  font-size: 1.3em;
  font-style: italic;
  color: gray;
  margin: 0;
  padding: 0;
}
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
section {
  margin: 2% auto;
}
/* ------------------------------------- */
.contInput {
  display: flex;
  flex-direction: column;
}
.input {
  font-size: 1.2em;
  font-weight: 500;
}
.gap {
  margin: .5%;
}
#inputDesc {
  min-height: 100px;
}
/* ------------------------------------- */
.space {
  margin: 4% auto;
}
/* ------------------------------------- */
.contBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contBtn .btn {
  width: 45%;
}
#btnAdd {
  background-color: var(--color-terciario);
  color: var(--color-negro);
  border: 2px solid var(--color-terciario);

  font-size: 1.4em;
  font-weight: 900;
  text-transform: uppercase;
}
#btnAdd:hover {
  background-color: var(--color-negro);
  color: var(--color-terciario);
  border: 2px solid var(--color-terciario);
}
#btnClear {
    background-color: var(--color-secundario);
    color: var(--color-negro);
    border: 2px solid var(--color-secundario);

    font-size: 1.4em;
    font-weight: 900;
    text-transform: uppercase;
}
#btnClear:hover {
    background-color: var(--color-negro);
    color: var(--color-secundario);
    border: 2px solid var(--color-secundario);
}
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
#contTasks {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#task {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 2px solid var(--color-primario);
  padding: 1% 2%;
  max-width: 95%;
  margin: 1% auto;
}
#taskTitle {
  color: var(--color-primario);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
#taskDesc {
  font-size: 1.2em;
  color: white;
}
#taskDesc::first-letter {
  text-transform: uppercase;
}
i {
  font-size: 2.5em;
  color: var(--color-secundario);
  margin-left: 2%;
  cursor: pointer;
  transition: all .2s;
}
i:hover {
  color: rgb(164, 36, 59, 0.5);
  transition: all .2s;;
}
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */

@media (min-width: 800px) {
}
